h1 {
    color: rgb(66, 145, 13);
}
img{
    width: 400px;
}
#spanId{
    margin: 50px;
    font-size: 18px;
}
#thidDiv{
   width: 500px;
   height: 600px;
   background-color: chocolate;
   padding: 50px;
   border-width: 50px;
   border-style: double;
   border-color: darkgreen;
   
}